body{
    font-family:Cursive;

}
.menu{
    width: 100%
}
.flex{
    width: 100%;
    display:inline-flex;
    background-color:lightpink;
    height:100px;
}
.menus{
    min-width: 200px;
    color:rgb(0, 0, 0);
    font-size:var(flex);
   
    text-align:center;
    padding-top: 40px;
    padding-bottom: 40px;
    

    
   
   

}
.image{
    display:flex;
    position:relative;
    text-align:center;
    
}
#faizan{
    width:100%;
    opacity:0.8;
}
.title{
    position:absolute;
    top:30%;
    left:35%;
    color:black;
    font-style: italic;
    font-size:3em ;
}
.subtitle{
    position:absolute;
    right:45%;
    top:40%;
    bottom:42%;
    font-size:2em ;
}
.skill-container{
    display:flex;
    width:100%;
    justify-content:center;
    height: 500px;
    margin-top:50px ;
    flex-direction: row;
    margin-left:auto ;
}
.skill1{
    display:flex;
    width:100%;
    margin-top:40px ;
    justify-content:center ;
}

.skill-text{
    color:black;
    margin-top:30px ;
    font-weight:bolder;
    font-size:2em;
}
.heading{
    display:flex;
    widows:100%;
    height:100px;
    color:black;
    background-color:rgb(215, 246, 250);
    font-size:2em ;
    margin-bottom:150px;
}
.skiltitle{
    margin-left:45% ;
    margin-top:155px;
}